.desc-card{
    color: #FFFFFF;
    padding: 28px 0px 25px 0px;
    margin-bottom: 20px;
}

.desc-card p{
    margin-top: 9px;
    font-size: 18px;
}

.desc-card a{
    text-decoration: none;
    color: unset;
}

.description-container{
    text-align: center;
    width: 260px;
}