
.container{
    padding: 0;
}

@media screen and (min-width: 576px) {
    .product-card{
        margin-bottom: 30px;
        padding: 15px 21px;
    }

    .product-card .description-container p{
        font-size: 12px;
    } 

    .product-card .description-container, .product-card-button{
        width: 220px;
    }

    .search{
        padding: 42px 20px;
    }

    
    
}

@media screen and (min-width: 768px) {
    
    .product-card .description-container p{
        font-size: 14px;
    } 

    .product-card .description-container, .product-card-button{
        width: 307px;
    }
}

@media screen and (min-width: 992px) {

    .product-card .description-container, .product-card-button{
        width: 255px;
    }
}


