.main-nav{
    padding-left: 20px;
    min-height: 70px;
}

.nav-logo-text, .nav-logo-text:hover{
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    color: #00285F;
}

.main-menu{
    display: flex;
    font-size: 18px;
    justify-content: space-between;
}

.main-menu a{
    color: #00285F;
    text-decoration: none;
    transition: all 0.3s ease;
}

.main-menu a:hover{
    color: rgba(255, 255, 255, 0.8);
}

.main-menu a.active{
    font-weight: 700;
}


.navbar-toggler{
    border: none;
}

