.main-nav{
    padding-left: 20px;
    min-height: 70px;
}

.container-fluid{
    padding: 0px;
}

.nav-logo-text, .nav-logo-text:hover{
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    color: #00285F;
}

.main-menu-container{
    position: relative;
}

.main-menu{
    font-size: 18px;
    width: 170px;
    justify-content: space-between;
    position: absolute;
    right: 0;
}

.main-menu-container.show .main-menu{
    margin-bottom: 32px;
}

.main-menu-container.show .main-menu a{
    margin-bottom: 12px;
}

.main-menu-container.show .main-menu{ 
    position: static;
}

.main-menu a{
    color: #00285F;
    text-decoration: none;
    transition: all 0.3s ease;
}

.main-menu a:hover{
    color: rgba(255, 255, 255, 0.8);
}

.main-menu a.active{
    font-weight: 700;
}

.navbar-toggler{
    border: none;
    margin: 0px 0px;
}


@media screen and (min-width: 768px) {
    .main-nav{
        padding: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .main-nav{
        padding: 0 150px;
    }

}