.search{
    padding: 22px 14px 24px 14px;
}

.search-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container input{
    flex: 1 0 191px; 
    max-width: 584px;
    text-indent: 13px;
    height: 40px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.search-container input::placeholder{
    color: #A7A7A7;
} 

.search-container input:focus{
    outline: none;
}


.search-container button{  
    flex: 1 0 69px;
    max-width: 174px;
    padding: unset;
    border-radius: 0px 5px 5px 0px;
}
